<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %> 
    <title>Registro</title>
</head>

<body>
    <div class="ofertasfixed">
        <i class="fas fa-fire">OFERTAS del día!</i>
    </div>
    <div class="cartel-contenedor">
        <div class="cartelfixed">
            <p>Con tu compra superior a $7500, tenés envío gratis</p>
        </div>
    </div>
    <%- include('./partials/header.ejs') %> 
    
       
        <section class="main-form">
            <h2 style="margin: 20px;">Editar Producto "<%= producto.name %>"  </h2>
            
            <form action="/productos/editar/<%= producto.id %>?_method=put" method="POST" class="register">
            <div class="formbox">
                <div class="primeralinea">
                    <input type="text" name="name" id="nombreApellido" value="<%= producto.name %>" required>
                </div>
                <div class="segundalinea">
                    <input type="text" name="description" id="nombreApellido" value="<%= producto.description %>" required>
                </div>
                <div class="terceralinea">
                    <input type="text" name="productImage" id="nombreApellido" placeholder="Imagen" >
                </div>
                <div class="cuartalinea">
                    <input type="text" name="category" id="nombreApellido" value="<%= producto.category %>" required>
                </div>
                <div class="quintalinea">
                    <input type="text" name="data" id="nombreApellido" placeholder="Color/Talle/Tamaño" >
                </div>
                <div class="sextalinea">
                    <input type="text" name="price" id="nombreApellido" value="<%= producto.price %>" required>
                </div>
            </div>
            <div class="caja-boton">
               <button  type="submit" class="boton-submit">Actualizar</button>
            </div>
            </form>
            <div class="caja-boton">
            <form action="/productos/borrar/<%= producto.id %>?_method=delete" method="POST" class="register">
                <button  type="submit" class="boton-submit">Borrar</button>
            </div>
            </form>
    </section>






        
</section>
</body>
<%- include('./partials/footer.ejs') %> 
</html>