<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <title>Carrito de compras</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <h2>Listado de Productos</h2>
   
    <% products.forEach(function(producto) { %> 
    <article>
    <h3><%- producto.name %></h3>
    <div> 
        <img src="/images/products-img/<%= producto.image || "producto-sin-foto.jpeg" %>" >
    </div>
    <ul class="menu-products">
         <li class="price" >
         <%- producto.price %> $
        </li> 
        <li class="description">
         <%- producto.description %>
        </li>
        <li class="category">
           Categoría: <%- producto.category %>
        </li>
        <li class="idlistar" >
            Id: <%- producto.id %>
        </li> 
    </ul>
    </article>
    <%  }) %>    
    
    <%- include('./partials/footer.ejs') %> 

</body>
</html>