<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Productos</title>
</head>

<body>
    <div class="cartelfixed">
        <p>Con tu compra superior a $7500, tenés <strong>envío gratis</strong></p>
    </div>
    <div class="headermenu">
    <%- include('./partials/header.ejs') %>
    </div>
        <div class="todolistar">
            <div class="filtros">
                <div class="categorias">
                    <ul>
                        <p><strong>Categorías</strong></p>
                        <li><a href="/productos/airelibre">Aire libre</a>
                            <hr>
                        </li>
                        <li>
                            <a href="/productos/videojuegos">Videojuegos</a>
                            <hr>
                        </li>
                        <li><a href="/productos/demesa">Juegos de mesa</a>
                            <hr>
                        </li>
                        <li><a href="/productos/juguetes">Juguetes</a>
                            <hr>
                        </li>
                    </ul>
                </div>
                <div class="ordenar">
                    <ul>
                        <p><strong>Ordenar</strong></p>
                        <li><a href="/productos/asc">De menor a mayor</a>
                            <hr>
                        </li>
                        <li><a href="/productos/dsc">De mayor a menor</a>
                            <hr>
                        </li>
                        <li><a href="/productos/menos2000">Hasta de $2000</a>
                            <hr>
                        </li>
                        <li><a href="/productos/menos4000">Hasta de $4000</a>
                            <hr>
                        </li>
                        <li><a href="/productos/menos6000">Hasta de $6000</a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box-allproducts">
                <% products.forEach(function(producto) { %>
                    <div class="box-product">
                        <a href="/productos/detalle/<%= producto.id %>">
                            <h3 class="name">
                                <%- producto.name %>
                            </h3>
                            <div class="imagelistar">
                                <img src="/images/products-img/<%= producto.filename || " producto-sin-foto.jpeg" %>" >
                            </div>
                        </a>
                        <ul class="menu-products" style="list-style: none">
                            <li class="price">
                                $<%- producto.price %>
                            </li>
                        </ul>
                        <div class="editarr">
                            <% if(locals.isLogged && user.privilege=='administrador' ) { %>
                                <a class="boton-edicion" href="/productos/editar/<%= producto.id %>">Editar</a>
                                <% } else{ %>
                                    <a href="/carrito">
                                        <p class="add-cart">Agregar al carrito</p>
                                    </a>
                                    <% } %>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
</body>

</html>