<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>
            <%- products.name %>
        </title>
</head>

<body>
    <div class="cartelfixed">
        <p>Con tu compra superior a $7500, tenés <strong>envío gratis</strong></p>
    </div>
    <%- include('./partials/header.ejs') %>

        <div class="box-product-detail">
            <div class="box1">
                <img class="image-detail" src="/images/products-img/<%= products.filename || " producto-sin-foto.jpeg"
                    %>" >
            </div>
            <div class="box2">
                <ul style="list-style-type:none">
                    <li class="name-detail">
                        <%- products.name %>
                    </li>
                    <li class="price-detail">
                        $<%- products.price %>
                    </li>
                    <li class="description-detail">
                        <%- products.description %>
                    </li>
                </ul>
                <div>
                    <a href="/carrito">
                        <p class="add-cart">Agregar al carrito</p>
                    </a>
                </div>

            </div>
        </div>




        <%- include('./partials/footer.ejs') %>

</body>

</html>